/*RESET CSS*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-size: 100%;
}


/*------CONTAINER-------*/

.contenedor {}


/*------HEADER-------*/

.header {}

.navbar-tagName {
    color: grey;
    font-size: 1.5em;
}

.navbar-tagName:hover {
    color: #414a6b;
}

span {
    padding: 0;
    margin: 0;
    letter-spacing: 0;
}


/*------CONTENT-------*/

.content {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
}

.btn a:hover {
    color: white;
}

.btn-outline-secondary:hover {
    background-color: #F79687;
    border: none;
}


/*FRONT*/

#front {
    height: 41em;
    padding-top: 0em;
}

.portada {
    font-size: 2.5em;
    color: black;
    display: grid;
    grid-template-areas: "portada-img portada-name";
}

.portada-img {
    background: linear-gradient(to right, #d5c6b4 0%, #ece5db 100%);
}

.portada-img .img {
    width: 12em;
    margin-top: 1em;
    margin-left: 3em;
}

.portada-hello {
    margin-top: 4.6em;
    margin-left: 1em;
    margin-right: 1.5em;
}

.portada-hello p {}

.name {
    color: #F56C60;
}


/*ABOUTME*/

#aboutMe {
    height: 42em;
    display: grid;
    grid-template-areas: "aboutMe-text aboutMe-img";
}

.aboutMe-tittle {
    display: flex;
    width: 13em;
    margin-left: 24em;
    margin-top: 8.5em;
}

.about,
.me {
    display: block;
    font-size: 3.5em;
    margin-left: 1em;
}

.aboutMe-text {
    width: 7em;
}

.tittle-about {
    margin-left: auto;
}

.text {
    width: 22em;
    text-align: right;
    position: relative;
    top: 10em;
    margin-left: 8em;
    font-size: 1.2em;
}

.tittle-img {
    width: 6em;
    height: 13em;
    margin-top: 13em;
    margin-left: -4em;
}


/*EXPERIENCE*/

#experience {
    height: 42em;
    position: relative;
}

.experience-text {
    display: block;
    margin-left: 4em;
    float: left;
}

.exp-text-part {
    display: block;
    font-size: 4em;
    color: #414a6b;
}

.skeels {
    position: absolute;
    left: 35em;
    top: 9em;
    display: flex;
    letter-spacing: 3.2em;
    color: #414a6b;
}

.skeels .fab {
    font-size: 3em;
}

.skeels img {
    width: 3.5em;
}

.accordion {
    width: 40em;
    margin: 13em auto 0em auto;
}

.accordion-img {
    width: 29em;
    display: flex;
    margin: 1em auto 1em auto;
}


/*EDUCATION*/

#education {
    height: 40em;
    position: relative;
}

.education-text {
    margin-left: 4em;
    display: block;
}

.text-part {
    display: block;
    font-size: 4em;
    color: #F56C60;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.card {
    margin: 0em 2em 8em 3em;
    width: 17em;
    text-align: center;
}

.card-img {
    border-bottom: 0.1em solid #F2F1F1;
    height: 9em;
    display: flex;
    align-items: center;
}

.card-img-top {
    width: 7em;
    margin-left: auto;
    margin-right: auto;
}


/*FORM*/

.form {
    width: 30em;
    margin: 28em auto 8em auto;
}


/*------FOOTER-------*/

.footer {
    border-top: 0.1em solid #F2F1F1;
    height: 7em;
    display: flex;
    align-items: center;
}

.social-network {
    width: 5em;
    margin-left: auto;
    margin-right: auto;
}


/*-----GROUPS------*/

.navbar,
.footer {
    margin-left: auto;
    margin-right: auto;
}

#front,
#aboutMe,
#experience,
#education,
.footer {
    margin-top: 1em;
    padding-top: 2em;
}

.text-part,
.exp-text-part,
.about,
.me {
    font-weight: bold;
    letter-spacing: 0.1em;
}


/*------MEDIAQUERY-------*/


/* @media all and (min-width: 1801px) {}

@media all and (min-width: 1201px) and (max-width: 1800px) {
    body {
        background-color: blueviolet;
    }
} */

@media all and (min-width: 1201px) {
    .navbar,
    .footer {
        width: 75em;
    }
}

@media all and (min-width: 1008px) and (max-width: 1200px) {
    /* body {
        background-color: greenyellow;
    } */
    /*CONTENEDOR*/
    .contenedor {
        width: 62.5em;
    }
    /*HEADER*/
    .navbar,
    .footer {
        width: 100%;
    }
    /*FRONT*/
    .portada {
        font-size: 2em;
        margin: 3em 0em 0em 3em;
    }
    .portada-img {}
    /*EXPERIENCE*/
    .skeels {
        position: static;
        padding-top: 7.5em;
        padding-left: 2em;
    }
    .accordion {
        margin-top: 4em;
    }
}

@media all and (min-width: 641px) and (max-width: 1007px) {
    body {
        background-color: olive;
    }
}

@media all and (max-width: 640px) {
    body {
        background-color: blue;
    }
}